tabbox {
  padding: 0;
}
tabpanels {
  -moz-appearance: none;
  padding: 0;
  border: 0;
}
tabpanel {
  padding: 0;
}
tabpanels listbox {
  margin: 0;
  padding: 0;
  border: 0;
}
#openWinInfo {
  margin: 20px 0 60px 0;
}
textbox#scriptInput {
  font-family: "courier new", monospace;
  font-size: 110%;
}


.blinkme {
  animation-name: blinker;
  animation-duration: .3s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
  outline: 2px solid transparent;
}
@keyframes blinker {  
  50% { outline: 2px solid #00d490; }
}