body {
  background: #c7d0d9;
  font-family: tahoma, Sans-Serif;
  font-size: 80%;
  padding-bottom: 100px;
}
code {
  font-size: 115%;
}
h2 {
  margin-top: 1.5em;
}
ol li {
  margin: 0.3em 0;
}
ul li {
  margin: 0.5em 0;
}
:target {
  border-bottom: 2px dashed black;
}
table {
  border-spacing: 0;
  background-color: white;
  border-top: 1px solid #222;
  border-left: 1px solid #222;
}
table th {
  background-color: #424f63;
  color: white;
}
table th,
table td {
  padding: 1px 4px;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
}
table tr:hover {
  background-color: #ffe6b6;
}
table.gestlist tr td:first-child {
  width: 15em;
  font-weight: bold;
}
table.gestlist td.wintypes {
  font-weight: bold;
}
table.gestlist td.wintypes span.browser {
  color: blue;
}
table.gestlist td.wintypes span.source {
  color: #9933ff;
}
table.gestlist td.wintypes span.messenger {
  color: green;
}
table.gestlist td.wintypes span.mailcompose {
  color: #999900;
}
